.fondoItem {
  background-color: #FF111328;
  height: 130px;
  border-radius: 20px;
  color: white;
}

.row {
  margin: 20px;

}

.btn-color {
  background-color: #ff3366;
  border-color: #ff3366;
  border-radius: 25px;
  width: 100%;
}

.btn-color:hover {
  background-color: #ff3366;
  border-color: #ff3366;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.estiloNumero {
  font-size: 32px;
  font-weight: 800;
  margin-top: -30px;
}

.cm {
  font-size: 16px;
  font-weight: 400;
  margin-left: -10px;
}

.form-range {
  padding: 0 20px;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #ff3366;
}

.sumaResta {
  cursor: pointer;
  background-color: #FF4C4F5E;
  padding: 7px;
  border-radius: 15px;
  margin-left: 3px;
}
