.fondoItem {
  background-color: #FF111328;
  height: 430px;
  border-radius: var(--border-radius-3);
  color: var(--color-1);
}

.resultado {
  color: var(--color-5);
  font-size: var(--font-size-3);
  text-transform: uppercase;
  font-weight: 700;
}

.estiloNumero {
  font-size: var(--font-size-4);
  font-weight: 700;
  padding-top: 25px;
  padding-bottom: 45px;

}
.interpretacion{
margin: 10px;
font-size: var(--border-radius-3);
}

.row {
  margin: 20px;

}

.btn-color {
  background-color: var(--color-3);
  border-color: var(--color-3);
  border-radius: var(--border-radius-1);
  width: 100%;
}

.btn-color:hover {
  background-color: var(--color-3);
  border-color: var(--color-3);
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}


.cm {
  font-size: var(--font-size-2);
  font-weight: 400;
  margin-left: -10px;
}

.form-range {
  padding: 0 20px;
}

input[type=range]::-webkit-slider-thumb {
  background-color: var(--color-3);
}

.sumaResta {
  cursor: pointer;
  background-color: var(--color-3);
  padding: 7px;
  border-radius: var(--border-radius-2);
  margin-left: 3px;
}

.sexoDesactivado {
  background-color: var(--color-4);
}
